<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>Proctor System</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #133C55;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Proctor System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('studentRegister') }}">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br><br>
      <div class="text-center container shadow-lg p-3 mt-5 bg-body rounded vw-100">
        <h2>Results</h2>
        <hr>
        <h3>Name: {{sname}}</h3>
        <h3>Quiz Name: {{quizname}}</h3>
        <h3>Quiz ID: {{id1}}</h3>
      <h2>Result: {{res}}</h2>
      <a href="{{ url_for('studentRegister') }}"><button type="button" class="btn btn-primary">Take Another Test</button></a>
    </div>
    
</body>
</html>