<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	<title>Proctor System</title>
</head>
<body style="background-color: #91E5F6;">
  <div class="card" style="width:100%; background-color: #91E5F6; display: flex;flex-direction : row;">
    <p id="myDiv" style="width: 80%; height: 10%;"></p>
    <img src="{{ url_for('video_feed') }}" style="width: 10%; height: 10%;">
    
  </div>
  

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #133C55;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Proctor System</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Welcome {{session['name'][0]}}</a>                
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <span id="clock" class="nav-link active ">Quiz ends on: {{ session['endtime'] }}</span>
              </li>
            </ul>
        </div>
      </nav>



    
    <form method="POST" action="{{ url_for('studentResults')}}">
      {% set ns=namespace(j=1) %}
      {%for i in questions %}
      <div class="container shadow-lg p-3 mt-3 bg-body rounded vw-100">
        <h3>Q.{{ns.j|string+". "+i[1]}}</h3>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="op{{ns.j|string}}" value="{{i[7]|string+' '+i[2]}}" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">{{i[2]}}</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="op{{ns.j|string}}" value="{{i[7]|string+' '+i[3]}}" id="flexRadioDefault2">
          <label class="form-check-label" for="flexRadioDefault2">{{i[3]}}</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="op{{ns.j|string}}" value="{{i[7]|string+' '+i[4]}}" id="flexRadioDefault3">
          <label class="form-check-label" for="flexRadioDefault3">{{i[4]}}</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="op{{ns.j|string}}" value="{{i[7]|string+' '+i[5]}}" id="flexRadioDefault4">
          <label class="form-check-label" for="flexRadioDefault4">{{i[5]}}</label>
        </div>
      </div>    
      {% set ns.j=ns.j+1 %}              
      {%endfor%}
      <div class="vw-100 my-5 text-center">
        <button type="submit" class="btn btn-warning w-25">End Quiz</button>
      </div>
    </form>
    <script>
// ---------------------Timmer----------------------------------
// (function () {

//   var clockElement = document.getElementById( "clock" );
//   var ele=document.getElementById("myDiv");
//   function updateClock (clock) {
//     var rettime=new Date().toLocaleTimeString();
//     clock.innerHTML = rettime;
//   }

//   setInterval(function () {
//       updateClock(clockElement,"{{session['endtime']}}" );
// }, 1000);

// }());
// -------------------------------Camera--------------------------------------------
if (navigator.mediaDevices && navigator.mediaDevices.enumerateDevices) {
  navigator.enumerateDevices = function(callback) {
    navigator.mediaDevices.enumerateDevices().then(callback);
  };
}

var MediaDevices = [];
var isHTTPs = location.protocol === 'https:';
var canEnumerate = false;

if (typeof MediaStreamTrack !== 'undefined' && 'getSources' in MediaStreamTrack) {
    canEnumerate = true;
} else if (navigator.mediaDevices && !!navigator.mediaDevices.enumerateDevices) {
    canEnumerate = true;
}

var hasMicrophone = false;
var hasSpeakers = false;
var hasWebcam = false;

var isMicrophoneAlreadyCaptured = false;
var isWebcamAlreadyCaptured = false;

function checkDeviceSupport(callback) {
    if (!canEnumerate) {
        return;
    }

    if (!navigator.enumerateDevices && window.MediaStreamTrack && window.MediaStreamTrack.getSources) {
        navigator.enumerateDevices = window.MediaStreamTrack.getSources.bind(window.MediaStreamTrack);
    }

    if (!navigator.enumerateDevices && navigator.enumerateDevices) {
        navigator.enumerateDevices = navigator.enumerateDevices.bind(navigator);
    }

    if (!navigator.enumerateDevices) {
        if (callback) {
            callback();
        }
        return;
    }

  MediaDevices = [];
  navigator.enumerateDevices(function(devices) {
      devices.forEach(function(_device) {
          var device = {};
          for (var d in _device) {
              device[d] = _device[d];
          }

          if (device.kind === 'audio') {
              device.kind = 'audioinput';
          }

          if (device.kind === 'video') {
              device.kind = 'videoinput';
          }

          var skip;
          MediaDevices.forEach(function(d) {
              if (d.id === device.id && d.kind === device.kind) {
                  skip = true;
              }
          });

          if (skip) {
              return;
          }

          if (!device.deviceId) {
              device.deviceId = device.id;
          }

          if (!device.id) {
              device.id = device.deviceId;
          }

          if (!device.label) {
              device.label = 'Please invoke getUserMedia once.';
              if (!isHTTPs) {
                  device.label = 'HTTPs is required to get label of this ' + device.kind + ' device.';
              }
          } else {
              if (device.kind === 'videoinput' && !isWebcamAlreadyCaptured) {
                  isWebcamAlreadyCaptured = true;
              }

              if (device.kind === 'audioinput' && !isMicrophoneAlreadyCaptured) {
                  isMicrophoneAlreadyCaptured = true;
              }
          }

          if (device.kind === 'audioinput') {
              hasMicrophone = true;
          }

          if (device.kind === 'audiooutput') {
              hasSpeakers = true;
          }

          if (device.kind === 'videoinput') {
              hasWebcam = true;
          }

          // there is no 'videoouput' in the spec.

          MediaDevices.push(device);
      });

      if (callback) {
          callback();
      }
  });
}
checkDeviceSupport(function() {    
  var ele=document.getElementById("myDiv");    
    ele.innerHTML='hasWebCam: '+ hasWebcam+ '<br>'+'hasMicrophone: '+hasMicrophone+'<br>'+'isMicrophoneAlreadyCaptured: '+ isMicrophoneAlreadyCaptured+ '<br>'+'isWebcamAlreadyCaptured: '+ isWebcamAlreadyCaptured+ '<br>';

});    
</script>

</body>
</html>